.product-tab{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 56px;

    &__item:not(:last-child){
    margin-right: 8px;
    }
}
.product-tab__button{
    @extend %btn;
    padding: 5px 22px 5px 22px;

    font-weight: 500;
    line-height: 1.5;

    &--active{   
    box-shadow: 0 2px 2px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.08),
                0 3px 1px rgba(0, 0, 0, 0.1);
    } 
    
    &--disable{
    color: $title-text-color;  
    background-color: $button-disable; 
    }

    &--active:hover,
    &--disable:hover{
       color: $main-bg-color;
        background-color: $hover-button;
       
        box-shadow: 0 2px 2px rgba(0,0,0,0.12),
                    0 1px 2px rgba(0,0,0,0.08),
                    0 3px 1px rgba(0, 0, 0, 0.1);
        } 
}
  
//item GRID
    .grid{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

    &__item{
        margin: 15px;
        flex-basis: calc((100%-(15px*6))/3);
    }
    &__item:hover{
        box-shadow: 1px 4px 6px rgba(0,0,0,0.16),
                    0 4px 4px rgba(0,0,0,0.06),
                    0 1px 1px rgba(0,0,0,0.12);
    }

    &__img{
    display: block;
    width: 100%;
    height: auto;
    }

    &__meta{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
        border-left: 1px solid $boder-color;
        border-right: 1px solid $boder-color;
        border-bottom: 1px solid $boder-color;
    }

    &__title{
    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 4px;
    }
    
    &__subtitle{
        font-size: 16px;
        line-height: 1.88;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
    }
}
    /* slide up overlay discription */
    .img-overlay{
        position: relative;
        overflow: hidden;
    }
    .grid__discription{
        position: absolute;
        background-color: hsla(207, 90%, 54%, 0.9);
        width: 100%;
        height: 100%;
        bottom: -100%;
        left: 0;
    
        padding: 63px 24px;
    
        font-size: 18px;
        line-height: 1.56;
        color: $main-bg-color;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .img-overlay:hover .grid__discription{
        transform: translateY(-100%);
    }