.doing{
    &__list{
    display: flex;  
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
    &__item{
        position: relative;
    }
    &__item:not(:last-child){
        margin-right: 30px;
    }
    &__image{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    &__discription{
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0;
        left: 0; 
        background-color: hsla(235, 10%, 21%, 0.8);

        text-align: center;
        align-content: center;

        font-weight: 700;
        line-height: 1.17;
        color: $main-bg-color;
        text-transform: uppercase;
    }
}