$main-text-color:#757575;
$title-text-color:#212121;
$accent-text-color:#2196F3;
$main-bg-color: #FFFFFF;
$second-bg-color:rgba(245, 244, 250, 1);
$button-disable:#F5F4FA;
$button-active:#2196F3;
$hover-button: #1976d2;
$boder-color:#EEEEEE;
$footer-bg-color:#2F303A;
$input-border-color: hsla(0, 0%, 100%, 0.3);
$hover-close-btn-color: #e0d9d9
